<div class="container">
    <div class="box">
        <div class="form">
            <h1 class="tittle">Nueva Dirección</h1></br>
            <%= render 'form'%></div>
        </div>
    </div>
</div>
