<footer class="footer">
  <div class="container footer">
    <div class="footer-top">
      <img class="footlogo" src="https://media.discordapp.net/attachments/816001549146914886/816001670500712478/Hogare-Logo.png">
      <h1 class="foottittle">Hogaré</h1>
    </div>

    <div class="footer-content"></div>
    
    <div></div>
  </div>
</footer>